<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="QuotationDB"
			 connectionString="Server=DESKTOP-3JES7OG\SQLEXPRESS;Database=QuotationAppDB;User Id=sa;Password=MyPass123@;TrustServerCertificate=true;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
